$elephant-grey:    #303240;
$young-mouse-grey: #333333;
$cloud-black:      #363636;
$dark-grey:        #404040;
$grey-404:         #424242;
$mouse-grey:       #555555;
$stone-grey:       #606060;
$abstract-grey:    #9B9B9B;
$medium-grey:      #AAAAAA;
$quote-grey:       #CCCCCC;
$light-grey:       #D4D4D4;
$caption-grey:     #EFEFEF;
$background-grey:  #F7F7F7;

$green-visited:    #5B830B;
$green-toc:        #68960D;
$green-link:       #82BD10;

$light-yellow:     #FFF4AB;
