$green-link: #82BD10;
$green-visited: #5B830B;
$green-toc: #68960D;
$light-green: #03d;
$light-yellow: #fff4ab;
$stone-grey: #606060;
$cloud-black: #363636;
$elephant-grey: #303240;
$abstract-grey: #9b9b9b;
$background-grey: #F7F7F7;
$quote-grey: #ccc;
$medium-grey: #aaa;
$caption-grey: #efefef;
$light-grey: #d4d4d4;
$dark-grey: #404040;
$mouse-grey: #555;
$young-mouse-grey: #333;
$grey-404: #424242;
