$almost-white: #FAFAFA;
$grey-white: #C8C8C8;

article code {
  font-size: 0.65em;
  font-family: Monaco, Consolas, "Courier New", monospace;
  background-color: $almost-white;
  border: 1px solid $grey-white;
  padding-left: 4px;
  padding-right: 4px; }

pre.terminal, code.sourceCode {
  margin: 10px;
  margin-bottom: 2em;
  word-spacing: 0;
  word-wrap: normal;
  vertical-align: baseline;
  overflow-x: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

pre.terminal span.prompt {
  color: #c5c525; }

code.sourceCode {
  display: block;
  word-spacing: 0;
  color: #1d1d1d;
  padding: 20px;
  background-color: #fbfbfb;
  border: 1px solid #efefef; }

pre.terminal {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, monospace, serif;
  line-height: 130%;
  font-size: 0.75em;
  text-shadow: none;
  color: #b7b7b7;
  border: 1px solid #efefef;
  padding: 10px;
  background: #363636; }

table.sourceCode {
  border: 1px solid #efefef;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

tr.sourceCode {
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

td {
  &.lineNumbers, &.sourceCode {
    vertical-align: baseline;
    margin: 0;
    padding: 0; } }

table.sourceCode pre {
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

td {
  &.lineNumbers {
    border-right: 1px solid #aaaaaa;
    text-align: right;
    color: #aaaaaa;
    padding: 0 5px; }
  &.sourceCode {
    padding-left: 5px; } }

code.sourceCode span {
  &.kw {
    color: #007020; }
  &.dt {
    color: #902000; }
  &.co {
    color: #60a0b0;
    font-style: italic; }
  &.ot {
    color: #007020; }
  &.fu {
    color: #06287e; }
  &.dv, &.bn, &.fl {
    color: #40a070; }
  &.ch, &.st {
    color: #4070a0; }
  &.al, &.er {
    color: red; } }
