pre {
  word-wrap: normal;
  margin: 10px;
  margin-bottom:2.0em;
  padding: 20px;
  border: 0;
  font-size: 1.1em;
  background-color:#fbfbfb;
  font-family: monospace;
  vertical-align: baseline;
  color: #1d1d1d;
  overflow-x: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border:1px solid #efefef;
}
pre.terminal {
  font-size: 0.7em;
  padding: 10px;
  background: #363636;
  color: #b7b7b7;
  font-family: monaco, helvetica, monospace;
  /* /* font: 12px/1.4 monaco, helvetica; */ */
  border:1px solid #efefef;
  text-shadow: none;
}
