<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>$title$ | conflating</title>
    <meta name="author" content="Oliver Mueller">
    <meta name="description" content="$description$">
    <meta name="keywords" content="$keywords$">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
    <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" media="all" href="/css/site.css">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
    <link rel="alternate" type="application/rss+xml" title="Conflating Bits" href="http://blog.coldflake.org/rss.xml">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.ico">

    <script type="text/javascript" src="http://use.typekit.com/xiu7ykj.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher:'765d83fb-ebbc-488d-ab09-73d9a3b6e94e'});</script>
  </head>

  <body class="$bodyclass$">
    <header class="home">
      <h1><a href="/" title="Go back to the overview"></a></h1>
    </header>
    <div class="container">
    $body$
    <footer>
      <p><a href="/about.html" title="About">About</a> &middot;
      <a href="/colophon.html" title="Colophon">Colophon</a> &middot;
      <span id="oliver-on-twitter"><a href="http://twitter.com/marcontwit" title="My Twitter">Twitter</a></span> &middot;
      <a href="https://github.com/marcmo" title="My Github profile">Github</a> &middot;
      <a href="/rss.xml" title="Feed">RSS</a> &middot;
      <a href="mailto:&#111;&#108;&#105;&#118;&#101;&#114;&#046;&#109;&#117;&#101;&#108;&#108;&#101;&#114;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;" title"Send me an email">Email</a> &middot;
      <span class="st_sharethis_custom"></span>
      </p>
    </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.timeago.js"></script>
    <script type="text/javascript" src="/js/coldflake.ui.js"></script>
  </body>
</html>
