<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>$title$</title>
    <meta name="author" content="Oliver Mueller">
    <meta name="description" content="$blogDescription$">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" media="all" href="/css/site.css">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
    <link rel="alternate" type="application/rss+xml" title="Conflating Bits" href="http://blog.coldflake.com/rss.xml">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <script type="text/javascript" src="http://use.typekit.com/xiu7ykj.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </head>

  <body>
    <div class='mobile column hidden' id='mobile'>
      <a href="/"><img src="/images/snowtrees.png" alt="mountainflake"/></a>
    </div>
    <header class="home">
      <h1><a href="/" title="back to post overview"></a></h1>
      <div id="htmltagcloud">
        $tagcloud$
      </div>
    </header>
    <div class="container">
    $body$
    <footer>
      <p><a href="/about.html" title="About"><span class="icon-user"></span> About</a> &middot;
      <a href="http://twitter.com/marcontwit" title="My Twitter"><span class="icon-twitter"></span> Twitter</a> &middot;
      <a href="https://github.com/marcmo" title="My Github profile"><span class="icon-github"></span> Github</a> &middot;
      <a href="/rss.xml" title="Feed"><span class="icon-feed2"></span> RSS</a> &middot;
      <a href="mailto:&#111;&#108;&#105;&#118;&#101;&#114;&#046;&#109;&#117;&#101;&#108;&#108;&#101;&#114;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;" title="Send me an email"><span class="icon-envelope-alt"></span> Email</a>
      </p>
    </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.timeago.js"></script>
    <script type="text/javascript" src="/js/coldflake.ui.js"></script>
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-21532991-3', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
