<article>
  <header>
    <p class="meta"><time class="timeago" datetime="$date$">$date$</time>,<i class="icon-tags"></i> tagged $prettytags$.</p>
    <h1>$title$</h1>
    </header>
  <section>
    $body$
  </section>
  <section id="comment">
    <p>You can contact me
    <a href="mailto:&#111;&#108;&#105;&#118;&#101;&#114;&#046;&#109;&#117;&#101;&#108;&#108;&#101;&#114;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;" title="Send me an email">via e-mail</a>
    or send me a tweet <a href="http://twitter.com/#!/marcontwit" title="Send me a tweet">@marcontwit</a></p>
  </section>
</article>
